.newsflash .contact-details {
  margin-top: 1em;
}

.newsflash .contact-details>p {
  margin-bottom: 0;
}

.newsflash .opening-hours ul {
  padding-left: 0;
}

.newsflash .opening-hours li {
  list-style: none;
}

#jevents_body .icon-edit::before {
  content: 'Edit';
}

:root {
  --garibaldi-font-family-body: "Noto Sans", sans-serif;
  --garibaldi-font-family-headings: 'Playfair Display', serif;
  --garibaldi-font-weight-headings: 400;
  --garibaldi-font-weight-normal: 400;
}


@media all and (min-width: 600px) {
  .container-component {
    width: 90% !important;
    transition: width 0.5s ease-in-out;
  }
}

@media all and (min-width: 800px) {
  .container-component {
    width: 80% !important;
    transition: width 0.5s ease-in-out;
  }
}

@media all and (min-width: 1080px) {
  .container-component {
    width: 70% !important;
    transition: width 0.5s ease-in-out;
  }
}

.head-wrapper {
  height: 140px;
  background-color: #f7edef;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

@media all and (max-width: 560px) {
  .head-wrapper {
    height: 220px;
  }
}

.head-wrapper>* {
  flex: 1 100%;
}

.subhead-wrapper {
  display: flex;
  flex-flow: column wrap;
}

.above-menu-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.menu-nav {
  text-align: left;
}

.logo {
  margin: 0 2rem;
  width: 300px;
  height: 115px;
}

@media all and (min-width: 200px) {
  .aside {
    flex: 1 0 0;
  }

  .logo {
    order: 1;
  }

  .subhead-wrapper {
    order: 3;
  }

  .menu-nav {
    order: 2;
  }

  .above-menu-wrapper {
    order: 1;
  }
}

@media all and (min-width: 800px) {
  .subhead-wrapper {
    flex: 3 0px;
  }

  .logo {
    order: 1;
  }

  .subhead-wrapper {
    order: 2;
  }

  .menu-nav {
    flex: 3 0px;
  }

  .menu-nav {
    order: 2;
  }

  .above-menu-wrapper {
    order: 1;
  }
}

.container-header {
  /*background-image: none;*/
  padding-bottom: 1rem;
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
}

.container-header .navbar-toggler {
  color: #816170;
  border: 1px solid #816170;
}

.mod-menu_dropdown-metismenu {
  background-color: #f7edef;
}

.container-header .navbar-brand {
  height: 2em;
}

.container-header .navbar-brand a {
  font-family: var(--garibaldi-font-family-headings);
  color: gold;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-brand .site-description {
  font-family: var(--garibaldi-font-family-body);
  color: gold;
}

/* Welcome article on front page */
.main-top.card {
  border: none;
  box-shadow: none;
}

.main-top>.card-body {
  padding: 0;
}

@media (max-width: 979px) {
  .main-top .welcome-pub-sign {
    display: none;
  }
}

.mm-collapse>.level-2>a {
  padding: 4px;
  text-decoration: none;
}

.mm-collapse>.level-2>a:hover {
  background-color: #eed3d4;
  padding: 4px;
  width: 100%;
  height: auto;
}

.mod-breadcrumbs__wrapper {
  margin-top: 1rem !important;
  margin-bottom: 1rem;
  color: #cb7c95;
  background-color: #f7edef;
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
}

.mod-breadcrumbs__wrapper ol {
  border-radius: 4px;
}

.fields-container {
  list-style: none;
}

.item-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.extra-space {
  padding-right: 1px;
}

a:not([class]) {
  text-decoration: none;
}

.footer {
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
}

.footer>.grid-child {
  flex-direction: column;
}

.main-bottom {
  margin-top: 1rem !important;
}

.com-content-article,
.com-content-category-blog__item,
.card,
.items-more {
  border-radius: 8px;
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
  padding: 1rem !important;
  margin-bottom: 1em;
}

.com-content-category-blog {
  padding-top: 1em;
}

.com-content-category-blog .btn-secondary {
  background-color: transparent;
}

.com-content-category-blog .btn-secondary:hover {
  font-weight: bold;
}

.com-content-category-blog .blog-item {
  background-color: var(--gari-wall-colour);
}

.container-component>*+*,
.container-component> :first-child,
.container-sidebar-left>*+*,
.container-sidebar-left> :first-child,
.container-sidebar-right>*+*,
.container-sidebar-right> :first-child {
  margin-top: 0;
}

.footer>.copyright {
  padding-right: 2em;
  text-align: right;
}

/* jevents */
#jevents_body #cal_title {
  opacity: 0;
}

#jevents_body .ev_table {
  border-collapse: separate;
  border-radius: 1em;
  border-spacing: 0;
  border: 1px solid black;
  overflow: hidden;
}

#jevents #jevents_body .jev_evdt {
  background-color: var(--gari-wall-colour);
  border: 1px solid black;
  border-radius: 1em;
  overflow: hidden;
  padding: 0;
}

#jevents_body .jev_evdt .jev_evdt_header {
  background-color: var(--gari-woodwork-colour);
  padding: 0 1em;
}

#jevents_body .jev_evdt .jev_eventdetails_body {
  padding: 0.2em 1em 0;
}

#jevents #jevents_body .cal_table {
  border: 1px solid black;
  border-collapse: separate;
  border-radius: 1em;
  border-spacing: 0;
  overflow: hidden;
}

/* put logo before nav bar */

#nav-toolbar>ul:before {
  display: inline-block;
  content: " ";
  background-size: 180px 60px;
  height: 60px;
  width: 180px;
  margin: 8px 24px 0 24px;
}

@media (max-width: 979px) {
  #toolbar>div>div>div:after {
    display: inline-block;
    content: " ";
    background-size: 240px 80px;
    height: 80px;
    width: 240px;
    margin: 0 24px 24px 24px;
  }
}

@media (max-width: 319px) {
  #toolbar>div>div>div:after {
    display: inline-block;
    content: " ";
    background-size: 80px 80px;
    height: 80px;
    width: 80px;
    margin: 16px 24px 8px 24px;
  }
}

#featured {
  border-radius: 8px;
}

.row-fluid .span6 {
  padding: 0 20px;
}