// Variables, Functions and Mixins
@import "../tools/tools";

:root {
  --garibaldi-color-primary: #{$standard-color-primary};
  --garibaldi-color-link: #{$standard-color-link};
  --garibaldi-color-hover: #{$standard-color-hover};
  --garibaldi-wall-colour: #{$garibaldi-wall-colour};
  --garibaldi-woodwork-colour: #{$garibaldi-woodwork-colour};
  --garibaldi-header-colour: #{$garibaldi-header-colour};
}