// Variables, Functions and Mixins
@import "../tools/tools";

:root {
  --garibaldi-color-primary: #{$standard-color-primary};
  --garibaldi-color-link: #{$standard-color-link};
  --garibaldi-color-hover: #{$standard-color-hover};
  --gari-wall-colour: #{$gari-wall-colour};
  --gari-woodwork-colour: #{$gari-woodwork-colour};
}