// Variables, Functions and Mixins
@import "../tools/tools";

:root {
  --saltash-color-primary: #{$standard-color-primary};
  --saltash-color-link: #{$standard-color-link};
  --saltash-color-hover: #{$standard-color-hover};
  --saltash-wall-colour: #{$saltash-wall-colour};
  --saltash-woodwork-colour: #{$saltash-woodwork-colour};
  --saltash-header-colour: #{$saltash-header-colour};
}