// Variables, Functions and Mixins
@import "../tools/tools";

:root {
  --garibaldi-color-primary: #{$alternative-color-primary};
  --garibaldi-color-link: #{$alternative-color-link};
  --garibaldi-color-hover: #{$alternative-color-hover};
}
