// Fonts
$roboto-font-path: "../../../../media/vendor/roboto-fontface/fonts" !default;
@import "../vendor/roboto/roboto-fontface";

:root {
  --garibaldi-font-family-body: "Roboto", sans-serif;
  --garibaldi-font-family-headings: "Roboto", sans-serif;
  --garibaldi-font-weight-headings: 700;
  --garibaldi-font-weight-normal: 400;
}
