@import "vendor/bootstrap/_functions";
@import "tools/tools";
@import "vendor/bootstrap/_variables";
@import "vendor/bootstrap/bootstrap";
@import "system/scss/jquery-minicolors";
@import "global/colors_standard";

/* STYLES FOR JOOMLA! EDITOR */
body {
  background-color: var(--body-bg);
  color: var(--body-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  margin: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--garibaldi-font-family-headings, $font-family-sans-serif);
  font-weight: var(--garibaldi-font-weight-headings, 700);
  color: var(--template-contrast);
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

h2 {
  font-size: calc(1.325rem + .9vw);
}

h3 {
  font-size: calc(1.3rem + .6vw);
}

h4 {
  font-size: calc(1.275rem + .3vw);
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  &:link {
    color: #224faa;
  }
  &:hover {
    color: #424077;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* STYLES FOR JOOMLA! EDITOR */
hr#system-readmore {
  color: #f00;
  border: #f00 dashed 1px;
}

