@import "vendor/bootstrap/functions";
@import "vendor/bootstrap/variables";
@import "vendor/bootstrap/mixins/breakpoints";
@import "vendor/bootstrap/mixins/gradients";
@import "tools/tools";

@mixin shadow-card {
  border-radius: 8px;
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
  padding: 1rem;
  margin-bottom: 1em;
}

:root {
  --garibaldi-font-weight-headings: 400;
  --garibaldi-font-weight-normal: 400;
}

/* left hand column on every page */
.container-sidebar-left {
  .card-body {
    padding-top: 0;
  }

  .newsflash {
    .contact-details {
      margin-top: 1em;

      >h3 {
        margin-bottom: 0.1em;
      }

      >p {
        margin-bottom: 0;
      }
    }

    .opening-hours {
      .opening-hours-table {
        .times {
          padding-left: 0.5em;
        }
      }
    }

    .opening-hours>ul {
      padding-left: 0;

      &>li {
        list-style: none;
      }
    }
  }
}

/* header at the top of every page */
.container-header {
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
  padding-top: 1em;

  .navbar-brand {
    height: 2.5em;

    .brand-logo {
      font-size: 2.5rem;
      line-height: 2rem;
      text-decoration: none;
      text-transform: uppercase;
    }

    .brand-img {
      height: 3em;
    }

    .site-description {
      font-family: var(--garibaldi-font-family-body);
      font-size: 1.25rem;

      @include media-breakpoint-down(md) {
        height: 1em;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .container-nav .mod-menu {
      font-size: 1.2rem;
    }
  }

  @include media-breakpoint-down(md) {
    .container-nav .mod-menu {
      font-size: 1.75rem;
      line-height: 1.75rem;

      .nav-item {
        opacity: 0.6;
      }

      .nav-item.active {
        opacity: 1.0;
      }
    }
  }
}

/* Welcome article on front page */
.view-featured .main-top {
  border: none;
  box-shadow: none;
  padding: 0;

  &>.card-body {
    padding: 0;
  }

  .welcome-pub-sign>img {
    max-height: 12em;
  }

  @include media-breakpoint-down(lg) {
    .welcome-pub-sign {
      display: none;
    }
  }
}

/* news page */
.news-page {
  .com-content-category-blog .blog-item {
    background-color: inherit !important;
    padding: 1em;
  }
}

.footer {
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);

  &>.grid-child {
    flex-direction: column;
  }

  &>.copyright {
    padding-right: 2em;
    text-align: right;
  }
}

.main-bottom {
  margin-top: 1rem !important;
}

.com-content-article,
.com-content-category-blog__item,
.com-content-category-blog .card,
.card,
.items-more {
  @include shadow-card;
  padding: 1em !important;
}

.com-content-category-blog {
  padding-top: 1em;

  .btn-secondary {
    background-color: transparent;
  }

  .btn-secondary:hover {
    font-weight: bold;
  }

  .blog-item {
    .text-muted .article-info-term {
      display: none;
    }

    .icons a:hover {
      color: $indigo;
      font-weight: bold;
    }
  }
}

.container-component>*+*,
.container-component> :first-child,
.container-sidebar-left>*+*,
.container-sidebar-left> :first-child,
.container-sidebar-right>*+*,
.container-sidebar-right> :first-child {
  margin-top: 0;
}

.container-component main {
  max-width: 90%;
  margin: 1em auto;

  @include media-breakpoint-down(lg) {
    max-width: 100%;
  }
}

body.wrapper-fluid .site-grid .container-sidebar-left {
  max-width: 20em;
}

/* jevents */
#jevents {
  #jevents_header .contentheading {
    display: none;
  }

  #jevents_body {
    #cal_title {
      opacity: 0;
    }

    .ev_table {
      border-collapse: separate;
      border-radius: 1em;
      border-spacing: 0;
      border: 1px solid black;
      overflow: hidden;

      .ev_td_left {
        display: none;
      }

      a.ev_link_row:link {
        font-size: 1.25rem;
      }
    }

    .jev_evdt {
      background-color: var(--garibaldi-wall-colour);
      border: 1px solid black;
      border-radius: 1em;
      overflow: hidden;
      padding: 0;

      .jev_eventdetails_body {
        padding: 0.2em 1em 0;
      }

      .jev_evdt_header {
        background-color: var(--garibaldi-woodwork-colour);
        color: var(--light);
        padding: 0 1em;
        position: relative;

        .icon-edit {
          height: 2em;
          width: 2em;
        }

        .jev_evdt_icons {
          margin-top: 0;
          position: absolute;
          top: 0.5em;
          right: 2em;

          >a {
            color: var(--light);
          }
        }
      }
    }

    .cal_table {
      border: 1px solid black;
      border-collapse: separate;
      border-radius: 1em;
      border-spacing: 0;
      overflow: hidden;
    }
  }
}

.upcoming-events {
  .card-header {
    background-color: inherit;
    border-bottom: none;
    color: var(--template-contrast);
  }

  .mod_events_latest_table td {
    padding-bottom: 0.5em;
  }
}

#featured {
  border-radius: 8px;
}

.row-fluid .span6 {
  padding: 0 20px;
}

.mod-login-logout .logout-button {
  padding-top: 1em;

  .btn {
    padding: 0.25em 1em;
  }
}

/* Front-end editing */

.nav.nav-tabs {
  background-color: $gray-600;

  .nav-item {
    background-color: $gray-400;
  }
}

.edit.item-page button[data-submit-task^="article"] {
  width: 10em;
}

#toolbar {
  width: 100%;

  joomla-toolbar-button {
    display: inline-block;

    >.btn {
      background-color: $gray-400;
      text-align: center;
      color: black;
      width: 14em;
    }
  }
}

/* Phoca downloads */
.pd-categories-view {
  .row>.col {
    min-width: 15em;
  }

  .card-title>a {
    font-size: 1.5rem;
    text-decoration: none;
  }
}

/* Phoca Gallery */
#phocagallery {
  .pg-category-box {
    border: none;

    .pg-category-box-title {
      background-color: inherit;
      @include gradient-y(rgba($gray-300, 0.2), rgba($garibaldi-wall-colour, 0.4));

      .ph-si-category,
      .pg-category-box-count {
        /* hide folder icon and image count */
        display: none;
      }

      &>a {
        color: var(--garibaldi-color-link);
        text-decoration: none;
      }
    }
  }
}

/* allow an article to have a background image, by adding the class name
"background" to an image in the article */
img.background {
  display: none;
}

.has-background .item-content,
.has-background .ev_ul {
  background-color: rgba(white, 0.5);
  padding: 0 1em;
}